.sidebar {
  min-width: 250px;
  height: 100%;
  background-color: var(--color-light-gray);
  padding: 25px;
}

.sidebar .navigation-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
}

.sidebar .navigation-menu .navigation-menu-item {
  width: 100%;
  padding: 15px;
  background-color: var(--color-blue);
  text-align: center;
  color: var(--color-white);
  font-weight: 800;
}
