* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-blue: #004aad;
  --color-light-blue: #b4d5ff;
  --color-light-red: rgb(255, 151, 151);
  --color-light-orange: rgb(255, 218, 150);
  --color-light-green: rgb(182, 255, 182);
  --color-white: #fff;
  --color-light-gray: #e7e7e7;
}

.clickable {
  cursor: pointer;
}
